<header class="pb-3 mb-5 border-bottom">
  <div class="row align-items-center">
    <div class="col-md-4">
      <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
        <span class="fs-4 fw-bold">{{ site.title }} 
      </span>
      </a>
      <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
        <span>{{ site.description }}</span>
      </a>
    </div>

    <div class="col-md-4 text-end">
      <nav>
        {% for item in site.data.settings.menu %}
          <a class="me-3 py-2 text-decoration-none" href="{{ site.github.url }}{{ item.url }}">{{ item.name }}</a>
        {% endfor %}
      </nav>
    </div>
  </div>
</header>
