<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    <!-- Home page "Selected (First Author) Publications" -->
    {% if page.title == "Home" %}
    <ul>
      {% for paper in site.data.publications.featured %}
        <li>
            <div class="paper_title">{{ paper.title }}</div>
            <!-- <br> -->
            <div class="paper-links">
              <a href="{{ paper.pdf_url }}" class="pdf-link">[pdf]</a>
              <a href="{{ paper.link_url }}" class="external-link">[link]</a>
            </div>
         </li>
      {% endfor %}
    </ul>
    <!-- Publications tab "All Publications" -->
    <!-- TODO: need to add a "Workshops/Posters" Section -->
    {% else %}
      {% for paper in site.data.publications.index %}
          {{ paper.title }}
          <a href="{{ paper.pdf_url }}" class="pdf-link">[pdf]</a>
          <a href="{{ paper.link_url }}" class="external-link">[link]</a>
      {% endfor %}
    {% endif %}
  </div>
</div>
