---
layout: default
---

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
</head>

<!-- About Me -->
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Hello!</h3>
    {{ content }} <!-- /index.md -->
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="100%">
  </div>

  <!-- In ./settings.yaml social -->
  <div class="col-md-4 text-center">
      <div class="social-media-icons">
        {% for item in site.data.settings.social %}
  {% if item.icon == 'envelope' %}
    <a href="{{ item.link }}" class="mx-2 fs-5"><i class="fas fa-{{ item.icon }}"></i></a>
  {% else %}
    <a href="{{ item.link }}" class="mx-2 fs-5"><i class="fab fa-{{ item.icon }}"></i></a>
  {% endif %}
{% endfor %}
      </div>
  </div>
</div>

<!-- Publications subsection (./_includes/publications.html) -->
{% include publications.html %}

<!-- Updates (As Posts) -->

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
